body {
    font-family: 'Poppins', sans-serif;
}


h1 {
    text-align: center;
    font-size: 80px;
}

h5 {
    text-align: center;
    font-size: 20px;
}

.pp {
    background-image: url(images/donation5.jpg);
    height: 600px;
}

h2 {
    text-align: center;
}

h5 {
    text-align: center;
}

.donate {
    text-align: right;

}

.tk {
    border-color: rgb(197, 9, 9);
    background-color: brown;
}

button {
    text-align: center;
}

section {
    display: flex;
    width: 90%;
}

.good {
    justify-items: auto;
    width: 50%;
}