body{
    font-family: 'Poppins', sans-serif;
}


h1{
    text-align: center;
    font-size: 70px;
}
h5{
    text-align: center;
    font-size: 25px;
}
.pp{
    background-image: url(images/donation5.jpg);
    height: 600px;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}
small{
    text-align: center;
}